[
  {rabbit, [
    {tcp_listeners, [25672]}
  ]},
  {rabbitmq_mochiweb, [
    {listeners,        [{mgmt, [{port, 55555}]}]},
    {default_listener, [{port, 55550}]},
    {contexts,         [{rabbit_mgmt, mgmt}]}
  ]},

{rabbitmq_federation,
   [ {exchanges, [[{exchange,     "my-exchange"},
                   {virtual_host, "/"},
                   {type,         "topic"},
                   {durable,      true},
                   {auto_delete,  false},
                   {internal,     false},
                   {upstream_set, "my-upstreams"}]
                 ]},
     {upstream_sets, [{"my-upstreams", [[{connection, "upstream-server"}]]}]},
     {connections, [{"upstream-server", [{host,            "localhost"},
                                         {protocol,        "amqp"},
                                         {port,            35672},
                                         {virtual_host,    "/"},
                                         {username,        "guest"},
                                         {password,        "guest"},
                                         {mechanism,       default},
                                         {prefetch_count,  1000},
                                         {reconnect_delay, 5},
                                         {heartbeat,       1},
                                         {expires,         30000},
                                         {message_ttl,     10000},
                                         {ha_policy,       "all"}
                                        ]}
                   ]},
     {local_username, "guest"},
     {local_nodename, "us-server"}
   ]
  }

].
